<ion-header>
  <ion-toolbar>
    <ion-title>Crear Cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-slide>
    <form [formGroup]="userDataForm" (ngSubmit)="register()">
      <div class="profile-container">
        <ion-grid>
          <ion-row>
            <ion-col>
              <!-- Contenedor de la imagen -->
              <div class="ion-text-center avatar-container">
                <ion-avatar>
                  <img 
                    style="width: 8em; height: 8em; border-radius: 50%;" 
                    [src]="profilePicture || ''" 
                    alt="Profile Picture" 
                    (error)="onImageError($event)">
                </ion-avatar>
                <ion-button shape="round" color="medium" (click)="openCamera()">
                  <ion-icon slot="icon-only" name="pencil"  style="padding: 0; margin: 0;"></ion-icon>
                </ion-button>
              </div>

              <!-- Lista de campos del formulario -->
              <ion-list>
                <ion-item>
                  <ion-input 
                    label="Username" 
                    placeholder="Ingrese su usuario" 
                    formControlName="username" 
                    required>
                  </ion-input>
                </ion-item>

                <ion-item>
                  <ion-input 
                    label="Email" 
                    type="email" 
                    placeholder="email@domain.com" 
                    formControlName="email" 
                    required>
                  </ion-input>
                </ion-item>

                <ion-item>
                  <ion-input 
                    label="Password" 
                    type="password" 
                    placeholder="Ingrese su contraseña" 
                    formControlName="password" 
                    required>
                  </ion-input>
                </ion-item>

                <ion-item>
                  <ion-input 
                    label="Apellido" 
                    placeholder="Ingrese su apellido" 
                    formControlName="lastName" 
                    required>
                  </ion-input>
                </ion-item>

                <ion-item>
                  <ion-input 
                    label="Nombres" 
                    placeholder="Ingrese su nombre" 
                    formControlName="name" 
                    required>
                  </ion-input>
                </ion-item>

                <ion-item>
                  <ion-input 
                    label="DNI" 
                    type="text"
                    placeholder="Ingrese su DNI" 
                    formControlName="dni" 
                    required>
                  </ion-input>
                </ion-item>

                <ion-item>
                  <ion-input 
                    label="Dirección" 
                    placeholder="Ingrese su dirección" 
                    formControlName="address" 
                    required>
                  </ion-input>
                </ion-item>

                <ion-item>
                  <ion-input 
                    label="Teléfono" 
                    type="tel" 
                    placeholder="+54" 
                    formControlName="phone" 
                    required>
                  </ion-input>
                </ion-item>
              </ion-list>

              <!-- Botón de registro -->
              <ion-button type="submit" expand="block" class="rounded">
                Registrarme
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </form>
  </ion-slide>
</ion-content>
