<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Crear Comercio</ion-title>
    <ion-buttons slot="start">
      <ion-back-button default-href="#" (click)="addCommerceCancel($event)"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [style.opacity]="1">
  <form [formGroup]="localComercialDataForm" (ngSubmit)="enviarFormulario($event)" id="localComercialDataForm">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-list>
            <div class="commerce-container">
              <!-- Imagen y botón para abrir la cámara -->
              <ion-item class="ion-text-center" lines="none">
                <ion-col>
                  <ion-avatar>
                    <img [src]="frontPicture" alt="Foto del Negocio" />
                  </ion-avatar>
                  <ion-button shape="round" color="medium" (click)="openCamera()">
                    <ion-icon slot="icon-only" name="camera" style="padding: 0; margin: 0;"></ion-icon>
                  </ion-button>
                </ion-col>
              </ion-item>
            </div>

            <!-- Nombre del Negocio -->
            <ion-item>
              <ion-label position="stacked">Nombre del Negocio</ion-label>
              <ion-input formControlName="nombre" required placeholder="Ingrese el nombre del comercio"></ion-input>
            </ion-item>

            <!-- Descripción -->
            <ion-item lines="none">
              <ion-label position="stacked">Descripción</ion-label>
              <ion-input [counter]="true" maxlength="50" placeholder="Máximo 50 caracteres" formControlName="descripcion"></ion-input>
            </ion-item>

            <!-- Correo Electrónico -->
            <ion-item>
              <ion-label position="stacked">Correo Electrónico</ion-label>
              <ion-input formControlName="correo" type="email" required placeholder="test@dominio.com"></ion-input>
            </ion-item>

            <!-- Teléfono -->
            <ion-item>
              <ion-label position="stacked">Teléfono</ion-label>
              <ion-input formControlName="telefono" type="tel" required placeholder="+54 9"></ion-input>
            </ion-item>

            <!-- Dirección con geocodificación -->
            <ion-item lines="none">
              <ion-label position="stacked">Dirección</ion-label>
              <app-geocoding (locationSelect)="getCoordinatesByAddress($event)"></app-geocoding>
              <div class="container">
                <app-leaflet-map id="map" #map></app-leaflet-map>
              </div>
            </ion-item>

            <!-- Generación de Código QR -->
            <ion-item class="ion-text-center" *ngIf="commerce" lines="none">
              <ion-col>
                <ion-title>Escanear QR para descargar PDF con los datos</ion-title>
                <qrcode [qrdata]="getCommercesDataPath + commerce.id" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
              </ion-col>
            </ion-item>

            <!-- Documentación Solicitada -->
            <div>
              <ion-title> Documentacion Solicitada</ion-title>
              <ion-grid>
                <ion-row>
                  <ion-col *ngFor="let img of selectedImages; let i = index">
                    <ion-thumbnail>
                      <ion-img [src]="img"></ion-img>
                    </ion-thumbnail>
                    <!-- Botón para eliminar imagen -->
                    <ion-button color="danger" (click)="eliminarImagen(i)" size="small" class="centered-button">
                      <ion-icon slot="icon-only" name="trash"></ion-icon>
                    </ion-button>
                  </ion-col>

                  <!-- Botón para agregar nuevas imágenes -->
                  <ion-col>
                    <ion-thumbnail>
                      <ion-img [src]="'../../../assets/add-image.svg'" (click)="openCameraForImageFiles()" />
                    </ion-thumbnail>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>

            <!-- Botón para descargar PDF -->
            <ion-col *ngIf="commerce">
              <ion-button [disabled]="buttonDisabled" (click)="downloadPDF(1)" color="primary">
                <span slot="start">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M3 15v4c0 1.1.9 2 2 2h14a2 2 0 0 0 2-2v-4M17 9l-5 5-5-5M12 12.8V2.5" />
                  </svg>
                </span>
                Descargar PDF
              </ion-button>
            </ion-col>

            <!-- Botón para guardar -->
            <ion-col>
              <ion-button [disabled]="buttonDisabled" color="primary" type="submit">
                <span slot="start">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <line x1="12" y1="5" x2="12" y2="19"></line>
                    <line x1="5" y1="12" x2="19" y2="12"></line>
                  </svg>
                </span>
                Guardar
              </ion-button>
            </ion-col>

            <!-- Botón para cancelar -->
            <ion-button [disabled]="buttonDisabled" (click)="addCommerceCancel($event)" color="danger">
              <span slot="start">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                  <line x1="18" y1="6" x2="6" y2="18"></line>
                  <line x1="6" y1="6" x2="18" y2="18"></line>
                </svg>
              </span>
              Cancelar
            </ion-button>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
