<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Comercio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="localComercialDataForm" (ngSubmit)="enviarFormulario($event)" id="localComercialDataForm">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-list>
            <div class="commerce-container">
              <ion-item class="ion-text-center">
                <ion-col>
                  <!-- Mostrar la imagen -->
                  <ion-avatar>
                    <img [src]="frontPicture" alt="Foto del Negocio" />
                  </ion-avatar>

                  <!-- Botón para abrir la cámara -->
                  <ion-button shape="round" color="medium" (click)="openCamera()">
                    <ion-icon slot="icon-only" name="camera" style="padding: 0; margin: 0;"></ion-icon>
                  </ion-button>

                  <!-- Botón para abrir la galería -->
                  <!-- <ion-button shape="round" color="medium" (click)="openCameraRoll()">
                      <ion-icon name="image"></ion-icon>
                    </ion-button> -->
                </ion-col>
              </ion-item>
            </div>
            <ion-item>
              <ion-label position="floating">Nombre del Negocio</ion-label>
              <ion-input formControlName="nombre" ngDefaultControl name="nombre" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-textarea formControlName="descripcion" label="Descripcion" labelPlacement="floating" ngDefaultControl name="Descripcion"></ion-textarea>
            </ion-item>

            <ion-item [button]="true" (click)="openRubroSelect()">
              <ion-label>Seleccione Rubro/s</ion-label>
              <div slot="end" id="selected-rubros">{{ selectedRubrosText }}</div>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Correo Electrónico</ion-label>
              <ion-input formControlName="correo" ngDefaultControl name="correo" type="email" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Teléfono</ion-label>
              <ion-input formControlName="telefono" ngDefaultControl name="telefono" type="tel" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Direccion</ion-label>
              <ion-input formControlName="direccion" ngDefaultControl name="direccion" required></ion-input>
            </ion-item>



            <!-- Coordenadas de Geolocalización -->
            <ion-item>
              <ion-label position="stacked">Latitud</ion-label>
              <ion-input type="text" formControlName="latitud" [value]="locationActual()?.coords?.latitude || 'No disponible'" readonly></ion-input>
            </ion-item>
            
            <ion-item>
              <ion-label position="stacked">Longitud</ion-label>
              <ion-input type="text" formControlName="longitud" [value]="locationActual()?.coords?.longitude || 'No disponible'" readonly></ion-input>
            </ion-item>
            
            <div *ngIf="locationActual()">
              <p>Ubicación en tiempo real:</p>
              <p>Latitud: {{ locationActual()?.coords?.latitude || 'No disponible' }}</p>
              <p>Longitud: {{ locationActual()?.coords?.longitude || 'No disponible' }}</p>
            </div>
            
            <div>
              <ion-grid>
                <ion-row>
                  <ion-col *ngFor="let img of selectedImages">
                    <ion-thumbnail>
                      <ion-img [src]="img"></ion-img>
                    </ion-thumbnail>
                  </ion-col>
                  <ion-col>
                    <ion-thumbnail>
                      <ion-img [src]="'../../../assets/add-image.svg'" (click)="openCameraForImageFiles()"/>
                    </ion-thumbnail>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>

            <ion-item-divider></ion-item-divider>
            <ion-row>
              <ion-col>
                <ion-button disabled={{buttonDisabled}} (click)="addCommerceCancel($event)">Cancelar</ion-button>
              </ion-col>
              <ion-col>
                <ion-button disabled={{buttonDisabled}} type="submit">Guardar</ion-button>
              </ion-col>
            </ion-row>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
