////////////TESTING MAP NOT SHHOWN///////////////////
ion-app._gmaps_cdv_ .ion-page:not(._gmaps_cdv_),
ion-app._gmaps_cdv_ ion-modal:not(._gmaps_cdv_) {
    display: none;
}

.ion-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .commerce-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      height: 100%;
      width: 100%;
      border-radius: 50%;

    }

    ion-row{
      text-align: center !important;
      align-content: center;
    }

    img{
      width: 15em;
      height: 15em;
    }

    ion-avatar {
      --border-radius: 4px;
    }

  
    ion-avatar {
      width: 100%;
      height: auto;
      margin-bottom: 10px;
    }
  
    ion-item {
      margin-bottom: 15px;
    }
  
  .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  ion-icon {
    margin-right: 15px;
  }
  


  
  .centered-button ion-icon {
    display: block;
    margin: auto;
  }
  
  

  ion-thumbnail {
    --size: 140px;
    --border-radius: 14px;
  }

  .container{
    width: 100%;
    height: 100%;
    background-color: transparent !important;
  }

  #leafletMap {
    height: 100%;
  }


  app-leaflet-map {
    display: inline-block;
    width: 100%;
    height: 500px;

  }

  