<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  

  <ion-content>

  <ion-list id="commerces-list" [inset]="true">
    <ion-item *ngFor="let item of commerces;">
      <ion-chip (click)="openCommerce(item)">
        <ion-avatar>
          <img alt=item.nombre src={{relPicturesPath+item.frontPicture}}/>
        </ion-avatar>
        <ion-label>{{item.nombre}}</ion-label>
      </ion-chip>
    </ion-item>

  </ion-list>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button [detail]="false" (click)="addCommerce()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  </ion-content>
  





