<ion-content [fullscreen]="true">

  <ion-content>
    <ion-card>

      <ion-card-content>
        <ion-list>
          <ion-item *ngFor="let item of commerces;" (click)="openCommerce(item)" button=true lines="none">
            <ion-thumbnail slot="start">
              <img 
                style="width: 8em; height: 8em; border-radius: 50%;" 
                [src]="item.frontPicture ? (relPicturesPath + item.frontPicture) : '../../../assets/add-image.svg'" 
                alt="{{ item.nombre }}" 
                (error)="onImageError($event)" />
            </ion-thumbnail>
            
              <ion-label>
                <h2>{{item.nombre}}</h2>
                <p>{{item.direccion}}</p>
              </ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button [detail]="false" (click)="addCommerce()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  </ion-content>
  





