<ion-header>
  <ion-toolbar>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>{{ title }}</ion-title>
    <ion-searchbar (ionInput)="searchbarInput($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content color="light" class="ion-padding">

  <ion-list id="modal-list" [inset]="true">
    <ion-item *ngFor="let item of filteredRubros; trackBy: trackRubros">
      <ion-checkbox [value]="item" [checked]="isChecked(item.id)" (ionChange)="checkboxChange($event)"
        >{{ item.descripcion }}</ion-checkbox
      >
    </ion-item>
  </ion-list>

</ion-content>
<ion-footer>
  <ion-item>
    <ion-buttons slot="start">
      <ion-button (click)="cancelChanges()" disabled={{buttonDisabled}}>Cancel</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="confirmChanges()" disabled={{buttonDisabled}}>Done</ion-button>
    </ion-buttons>
  </ion-item>
</ion-footer>
